html {
    display: block;
}

body {
    font-family: 'Roboto', monospace;
    line-height:1.45;
    max-width:650px;
    background-color: #F0EAD6;
}

header, footer {
    display: block;
    font-family: 'Source Code Pro';
}

section {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

section>p {
    margin: 0.2em 0 0.5em;
}

li {
    flex-grow: 1;
    padding: 0.5em 0.5em}
    @media (min-width:550px) {body{margin:auto; text-align:justify}}
}
